<div class="container">
  <h1 class="banner">airbnb jr</h1>

  <form class="signup" action="/user/signup" method="post">
    <label>Email:<br><input name="email" type="text" requried></label>
    <label>Password:<br><input name="password" type="text" required></label>
    <br><input type="submit" value="Sign Up">
  </form>

  <form class="login" action="/user/login" method="post">
    <label>Email:<br><input name="email" type="text" required></label>
    <label>Password:<br><input name="password" type="text" required></label>
    <br><input type="submit" value="Login">
  </form>

  <div class="controls">
    <a class="create" href="/property/create">Host A Property</a>
    <form class="create" action="/property/create" method="post">
      <label>Name:<br><input name="name" type="text" requried></label>
      <label>Rate:<br><input name="rate" type="integer" requried></label>
      <label>Capacity:<br><input name="capacity" type="integer" requried></label>
      <label>Address:<br><input name="address" type="text" requried></label>
      <label>Tags:<br><input name="tags" type="text"></label>
      <br><input type="submit" value="Create">
    </form>
    |
    <a class="list_own" href="/property/own">List Your Properties</a>

    <form class="search" action="/property/search" method="get">
      <label>Tags: <input name="tags" type="text"></label>
      <input type="submit" value="Filter">
    </form>
  </div>

  <div class="list">
    <% @properties.each do |property| %>
      <div class="property", id="<%= property.id %>">
        <p>Name: <%= property.name %></p>
        <p>Rate: <%= property.rate %></p>
        <p>Capacity: <%= property.capacity %></p>
        <p>Address: <%= property.address %></p>
        <p>Tags:
          <% property.tags.each_with_index do |tag, i| %>
            <span><%= tag.name%></span>
            <% unless property.tags.size == i + 1 %>,<% end %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>

</div>
